
CICDPackageRepo/bin/roslyn/System.Collections.Immutable.dll

CICDPackageRepo/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll

CICDPackageRepo/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll

CICDPackageRepo/bin/roslyn/VBCSCompiler.exe

CICDPackageRepo/bin/roslyn/System.IO.Compression.dll

CICDPackageRepo/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll

CICDPackageRepo/bin/roslyn/Microsoft.CodeAnalysis.dll
